<div>
    {{#with person}}
    <header>
        <div>
            <h1>{{name}}</h1>
        </div>
        <div><strong>Age: </strong>{{age}}</div>
        <div><strong>Gender: </strong>{{gender}}</div>

        <br>

        {{> title data='Address:'}}
        {{#each address}}
        <address>{{this}}</address>
        {{/each}}
    </header>

    <hr>
    <br>

    <main>
        <div>
            {{> title data='Education:'}}
            {{#each education}}
            <div>{{degree}}, {{major}}, {{university}}, {{graduationYear}}</div>
            {{/each}}

            <br>
            <div>
                {{> title data='workExperience:'}}
                {{#each workExperience}}
                <div><b>Conpany: </b>{{company}}</div>
                <div><b>Position: </b>{{title}}</div>
                <div>{{startDate}} - {{endDate}}</div>
                <div><b>Responsibilities: </b>{{responsibilities}}</div>
                <div><b>Founded: </b>{{year_founded}}</div>
                <div><b>Industry: </b>{{industry}}</div>

                <br>

                <div>
                    {{#each employees}}
                    <div>
                        <div><strong>Employees: </strong></div>
                        <div>{{name}}</div>
                        <div><b>Position: </b>{{position}}</div>
                        <div><b>Department: </b>{{department}}</div>

                        <br>

                        {{#each projects}}
                        <div>
                            <div><strong>Projects: </strong></div>
                            <div>{{name}}</div>
                            <div><b>Description: </b>{{description}} ({{status}})</div>

                            <br>

                            {{#each teams}}
                            <div>
                                <div>
                                    <div><strong>Team name: </strong>{{team_name}}</div>
                                    {{#with team_leader}}
                                    <div>{{name}}</div>
                                    <div>{{title}}</div>
                                    {{>link text='john.smith@example.com' href=email noLine=true }}
                                    {{/with}}
                                </div>

                                <br>

                                <div>
                                    <strong>Team members: </strong>
                                    {{#each team_members}}
                                    <div>{{name}}</div>
                                    <div>{{title}}</div>
                                    {{>link text='alice.johnson@example.com' href=email noLine=true }}
                                    <div><b>Skills: </b>{{skills}}</div>

                                    <br>

                                    <div>
                                        {{#each projects}}
                                        <div><strong>{{name}}</strong></div>
                                        <div><a>{{description}}</a></div>
                                        <b>Technologies: </b>
                                        <ul>
                                            {{#each technologies}}
                                            <li>{{this}}</li>
                                            {{/each}}
                                        </ul>
                                        <div>
                                            {{#each team_members}}
                                            <strong>Team members: </strong>
                                            <div>{{name}}</div>
                                            <div>{{title}}</div>
                                            <br>
                                            {{/each}}
                                        </div>

                                        {{/each}}
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        {{/each}}
                    </div>
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </main>

    {{/with}}
</div>