<main>

    <div>
        {{#with navigation}}

        <div>
            {{#each links}}
            <a href='{{href}}' class="col-3">{{text}}</a>
            {{/each}}


            {{#with button}}
            <a href='{{href}}' class="btn btn-primary">{{text}}</a>
            {{/with}}

            {{/with}}
        </div>
    </div>

    <hr>

    <div>
        {{#with header}}
        <div>
            <h1>{{title}}</h1>
        </div>
        <div>
            <p>{{description}}</p>
        </div>
        {{#with button}}
        <div><a href='{{href}}' class="btn btn-primary">{{text}}</a></div>
        {{/with}}

        {{/with}}
    </div>

    <hr>

    <div class="col-12">
        {{#with city}}
        <div>
            <h2>{{title}}</h2>
        </div>

        <div class="col-5">

            {{#each cards}}

            {{!-- <div class="row gx-2 gy-2"></div> --}}

            <div class="card">

                {{#with picture}}
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="{{alt}}">
                {{/with}}
                <div class="card-body">
                    <div class="text-capitalize">{{title}}</div>
                    <br>
                    <div>
                        <p>{{description}}</p>
                    </div>
                    {{#with button}}
                    <div><a href='{{href}}' class="btn btn-primary">{{text}}</a></div>
                    {{/with}}
                </div>
            </div>
            <br>
            {{/each}}
        </div>
    </div>

    </div>

    {{/with}}
    </div>

    <hr>

    <div>
        {{#with winner}}
        <div>
            <h2>{{title}}</h2>
        </div>
        <br>
        <table class="table">
            {{#with table}}
            <thead>
                <tr>
                    {{#each head}}
                    <th>
                        {{this}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each user}}
                <tr>
                    <td>{{place}}</td>
                    <td>{{name}}</td>
                    <td>{{surname}}</td>
                    <td>{{nickname}}</td>
                </tr>
                {{/each}}
            </tbody>
            {{/with}}
        </table>

        {{/with}}
    </div>

    <div>
        {{#with gallery}}
        <div>{{title}}</div>
        <div>
            {{#each cards}}
            <div>{{name}}</div>
            <div>{{#each items}}
                {{this}}
                {{/each}}
            </div>
            {{/each}}
        </div>

        {{/with}}
    </div>

    <div>
        {{#with relaxion}}
        <div class="display-3">{{title}}</div>


        {{#each cards}}
        <div class="col-5">
            <div class="row gx-2 gy-2">

                <div class="card text-bg-secondary">
                    <div class="card-header">
                        {{header}}
                    </div>
                    <div class="card-body">
                        <div>{{title}}</div>
                        <div>{{description}}</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {{/each}}

        {{/with}}
    </div>

    <div>

        {{#with rest}}
        <div>
            {{#each cards}}
            <div class="col-6">
                <div class="card text-bg-light">
                    <div class="card-header text-center">{{header}}</div>
                    <div class="card-body text-center">
                        <div>{{title}}</div>
                        <div>{{description}}</div>
                        <button class="btn btn-primary">{{button}}</button>
                    </div>
                    <div class="card-footer text-center">{{footer}}</div>
                </div>
            </div>
            <br>
            {{/each}}

            {{/with}}
        </div>

    </div>

    <hr>

    <div>
        {{#with proposition}}
        <div class="display-2">{{title}}</div>
        <br>
        <div>
            {{#each card}}
            <div class="col-6">
                <div class="card text-bg-warning">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <div><big>{{title}}</big></div>
                        <div>{{description}}</div>
                    </div>
                </div>
            </div>
            <br>
            {{/each}}
        </div>

        {{/with}}
    </div>

    <hr>

    <div>
        {{#with footer}}
        <div>
            <h5>{{title}}</h5>
        </div>
        <div>
            {{#each navigation}}
            <a href="{{href}}">{{text}}</a>
            {{/each}}
        </div>
        <div>
            {{#each socialMedia}}
            <a class="btn btn-outline-dark" href="{{link}}">{{name}}</a>
            {{/each}}
        </div>
        <div>
            {{#each partners}}
            <a class="btn btn-outline-info" href="{{link}}">{{name}}</a>
            {{/each}}
        </div>

        {{/with}}
    </div>

</main>