<main class="p-5">
    <div class="card">
        <div class="card-body">

            {{#with heading}}
            <div class="card">
                <div class="card-body">
                    <div>
                        {{#with main}}
                        <div>
                            <h1>{{title}}</h1>
                        </div>
                        <div>
                            <p>{{text}}</p>
                        </div>
                        <div>
                            {{#with button_text}}
                            <div>
                                <button class="btn btn-primary">
                                    <div>{{solid}}</div>
                                </button>
                            </div>

                            <div class="pt-3">
                                <button class="btn btn-outline-primary">
                                    <div>{{outline}}</div>
                                </button>
                            </div>
                            {{/with}}
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>


            <div class="card mt-3">
                <div class="card-body">
                    {{#with second}}
                    <div>
                        <h2>{{title}}</h2>
                    </div>
                    <div>
                        <p>{{text}}</p>
                    </div>
                    <div>
                        {{#with button_text}}
                        <div>
                            <button class="btn btn-secondary">
                                <div>{{solid}}</div>
                            </button>
                        </div>

                        <div class="pt-3">
                            <button class="btn btn-outline-secondary">
                                <div>{{outline}}</div>
                            </button>
                        </div>
                        {{/with}}
                    </div>
                    {{/with}}
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-body">

                    {{#with subblock}}
                    <div>
                        <h3>{{title}}</h3>
                    </div>
                    <div>
                        <p>{{text}}</p>
                    </div>
                    <div>
                        {{#with button_text}}
                        <div>
                            <button class="btn btn-dark">
                                <div>{{solid}}</div>
                            </button>
                        </div>

                        <div class="pt-3">
                            <button class="btn btn-outline-dark">
                                <div>{{outline}}</div>
                            </button>
                        </div>
                        {{/with}}
                    </div>
                    {{/with}}
                </div>
            </div>
            {{/with}}
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">

            {{#with nested_display}}
            <div class="display-1">
                {{title}}
            </div>
            <div class="card">
                <div class="card-body">
                    <div>
                        {{#with children_display}}
                        <div class="display-4">{{title}}</div>
                        <div>
                            <p>{{text}}</p>
                        </div>
                        <div>
                            {{#with button}}
                            <batton class="btn btn-outline-warning">
                                <div>{{text}}</div>
                            </batton>
                            {{/with}}
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <h6 class="text-heading">{{title}}</h6>
            </div>

            <div>
                {{#with button}}
                <batton class="btn btn-info">
                    <div>{{text}}</div>
                </batton>
                {{/with}}
            </div>
            {{/with}}
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">

            <div>
                {{#with paragraph}}

                <p class="text-uppercase">
                    {{title}}
                </p>
                <p class="text-lowercase">{{text}}</p>

                <div>
                    {{#with button}}
                    <a href="{{url}}" class="btn btn-link">{{text}}</a>
                    {{/with}}
                </div>



                <div class="card pt-3">
                    <div class="card-body">
                        <div>
                            {{#each list_name}}
                            <a href="{{url}}" class="btn btn-link">{{text}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>

                {{/with}}
            </div>

        </div>
    </div>

</main>